.form1{
   position: absolute;
  top: 100px;
  right: 50px;
  width: 30%;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.8s ease;
  /* animation fluide */
  z-index: 100;
   pointer-events: none;
}

.inscription.active {
  transform: translateY(0);
  /* position finale sous le header */
  opacity: 1;
   pointer-events: auto;
}